<%- include("../includes/head.ejs") %>

</head>

<body>
    <%- include("../includes/navigation.ejs") %>

    <main class="main-container">
        <div class="home-info">
            <div class="home-info__boxes">
                <h3>Events</h3>
            </div>
            <div class="home-info__boxes">
                <h3>Info</h3>
            </div>
            <div class="home-info__boxes">
                <h3>Others</h3>
            </div>
        </div>
        
        <% if (userType === "alumni") { %>
            <h2 style="text-align: center;">Home Loaded: Alumni</h2>
        <% } else if (userType === "admin") { %>
            <h2 style="text-align: center;">Home Loaded: Admin</h2>
        <% } else if (userType === "student") { %>
            <h2 style="text-align: center;">Home Loaded: Student</h2>
        <% } else { %>
            <h2 style="text-align: center;">Home Loaded: Public</h2>
        <% } %>
    </main>

<%- include('../includes/end.ejs') %>