<%- include('includes/head.ejs') %>

</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main class="error-container">
        <h1>Well this is embarrasing!</h1>
    </main>
    
<%- include('includes/end.ejs') %>