<%- include('includes/head.ejs') %>

</head>

<body>
    <%- include('includes/navigation.ejs') %>
    
    <main class="error-container">
        <h1>500 Error!</h1>
    </main>

<%- include('includes/end.ejs') %>