/* ===============================================
                UPDATE DATA & ME
===============================================*/
.update-container,
.me-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.update-container__profile,
.me-container__profile {
	padding: 1em;
}

.update-container__update,
.me-container__page {
	padding: 2em;
}

.update-container__card,
.me-container__card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.update-container__card img,
.me-container__card img {
	max-width: 100%;
}

.update-container__card h1,
.update-container__card h3,
.update-container__card h4,
.me-container__card h1,
.me-container__card h3,
.me-container__card h4 {
	font-weight: 300;
	margin-top: 1em;
}

@media (max-width: 780px) {
	.update-container,
	.me-container {
		grid-template-columns: 1fr;
	}
}

/* ===============================================
                ME
===============================================*/
/* Me Connections */
.me-container__news {
	height: 35vh;
	min-height: 150px;
	display: flex;
	flex-direction: column;
}

.me-container__connections {
	height: 35vh;
	min-height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.me-news,
.me-connections {
	overflow-y: auto;
}

.me-connection {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1em;
}

.me-div-main {
	flex: 1;
}

.me-div-secondary {
	flex: 0 0 100px;
}

.me-connection div h3 {
	flex: 1;
	margin-bottom: 0;
	font-weight: 300;
}

.me-connection div button {
	flex: 0 0 50px;
}

/* Me Article */
.me-article {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

.me-article header {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

.me-image,
.update-image {
	height: 500px;
	object-fit: cover;
	object-position: 50% 50%;
}

/* ===============================================
                CONNECT
===============================================*/
#connect-table-header th {
	font-weight: 600;
}

#connect-payload tr:hover {
	cursor: pointer;
	background-color: #f4f4f4;
}

.connect-table-message {
	flex: 1;
	text-align: center;
}

/* ===============================================
                REPORTS
===============================================*/
.reports-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	height: 100%;
}

.reports-container div {
	flex-basis: 50%;
	padding: 2em;
}

/* ===============================================
                MESSAGES
===============================================*/
.contacts-box {
	border: 1px solid #adadad;
	border-radius: 20px;
}

.contacts-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80vh;
}

.contacts-box__contacts {
	display: flex;
	flex-direction: column;
	border-top: 1px solid #adadad;
	align-self: stretch;
	height: 100%;
}

.contacts-box__contact {
	display: flex;
	border-bottom: 1px solid #adadad;
}

.contacts-box__contact:hover {
	cursor: pointer;
	background-color: #f4f4f4;
}

.contacts-box__contact img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	object-position: 50% 50%;
	border: 1px solid rgb(131, 131, 131);
	border-radius: 50%;
}

.contacts-box__contact div {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contacts-box__contact h6 {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 0;
}

.contacts-box__contact p {
	color: #9c9c9c;
	margin-bottom: 0;
}

/* MESSAGES */
.messages-box {
	border: 1px solid #adadad;
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	/* justify-content: flex-start; */
	align-items: stretch;
	height: 80vh;
}

.message-interaction {
	overflow-y: scroll;
	height: calc(100% - 20px);
}

.message-interaction span {
	text-transform: uppercase;
	font-weight: 600;
}

.message-interaction p {
	text-align: justify;
}

.messages-box textarea {
	resize: none;
}

/* .messages-box h5 {
	align-self: flex-start;
} */

/* .messages-box * {
	flex-basis: 100%;
}



.messages-box textarea {
	align-self: flex-end;
	resize: none;
} */
/* .messages-box h6 {
	flex-basis: 100%;
	text-transform: capitalize;
	font-weight: 400;
	align-self: flex-start;
}

.messages-box__messages {
	flex-basis: 100%;
	overflow-y: scroll;
}

.messages-box textarea {
	flex-basis: 100%;
	resize: none;
	align-self: flex-end;
} */
