.login-form {
	width: 80%;
	max-width: 400px;
	margin: 0 auto;
}

.login-form {
	margin-bottom: 1em;
}

.form-control {
	margin: 0.5em 0;
}

.form-control label,
.form-control input {
	display: block;
	font-weight: 300;
	font-family: "Lato", sans-serif;
}

.form-control label {
	padding-bottom: 0.25em;
	font-size: 1.15rem;
}

.form-control input {
	width: 100%;
	border: 1px solid #dbdbdb;
	font-size: 1.25rem;
	border-radius: 5px;
	padding: 0.15em;
}

.btn {
	font-family: "Lato", sans-serif;
	font-size: 1.1rem;
	text-decoration: none;
	display: inline-block;
	border: 1px solid #611a32;
	color: #611a32;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
	padding: 0.25em 0.5em;
	margin-top: 1em;
	font-weight: 300;
}

.btn--main:hover {
	background-color: #611a32;
	color: white;
}

.login-form-actions {
	display: flex;
	justify-content: space-between;
}
