/* ===============================================
                PARENT STYLING
===============================================*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	overflow-y: hidden;
}

/* ===============================================
                REUSABLE CLASSES
===============================================*/
.main-container {
	width: 90%;
	max-width: 1250px;
	margin: 2em auto;
}

.main-header {
	font-size: 2rem;
	font-weight: 300;
	text-align: center;
}

.btn-core {
	color: #611a32 !important;
	border-color: #611a32 !important;
}

.btn-core:hover {
	background-color: #611a32 !important;
	border-color: #611a32 !important;
	color: white !important;
}

.hide-section {
	display: none !important;
}

.invalid {
	border: 1px solid red !important;
}

/* ===============================================
                HOME
===============================================*/
.home-info {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.home-info__boxes {
	flex: 0 0 32%;
	text-align: center;
}

.home-info__boxes h3 {
	font-weight: 300;
}

.home-info__boxes p {
	text-align: justify;
}

.carousel-img {
	height: 500px;
	object-fit: cover;
	object-position: 50% 50%;
}

@media (max-width: 780px) {
	.home-info__boxes {
		flex: 0 0 100%;
	}
}

/* ===============================================
                404/500
===============================================*/
.error-container {
	/* Make Height Viewport */
	min-height: calc(100vh - 65px);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ===============================================
                FORMS
===============================================*/
.auth-container {
	width: 90%;
	max-width: 400px;
	margin: 0 auto;
}

.auth-container__actions {
	display: flex;
	justify-content: space-between;
	margin-top: 1.5em;
}

/* ===============================================
                NAVIGATION
===============================================*/
.navbar-main {
	background-color: #611a32;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 65px;
}

.navbar-main__logo {
	flex: 0 0 200px;
	font-size: 1.2rem;
	color: white;
	padding: 0.5em;
	text-decoration: none;
	height: 100%;
}

.navbar-main__logo img {
	height: 100%;
}

.navbar-main__menu {
	flex: 1 0;
	align-self: stretch;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	padding: 1em;
	margin-bottom: 0rem;
	list-style: none;
}

.navbar-main__menu li {
	padding-left: 1.5em;
}

.navbar-main__menu a {
	font-size: 1.2rem;
	color: white;
	text-decoration: none;
}

.navbar-main__menu a:hover,
.navbar-main__menu button:hover {
	text-decoration: none;
	color: white;
	padding-bottom: 0.1em;
	border-bottom: 1px solid white;
}

.navbar-main__active {
	padding-bottom: 0.1em;
	border-bottom: 1px solid white;
}

/* NAVIGATION SUBMENU */
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	top: 25px;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 5;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 0.9rem;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropdown-content a {
	padding: 12px 16px;
	border-bottom: none;
}

.btn--logout {
	background: transparent;
	color: white;
	border: 1px solid transparent;
	font-size: 1.2rem;
	padding-bottom: 0 !important;
}

.btn--logout:hover {
	cursor: pointer;
}

@media (max-width: 780px) {
	.navbar-main {
		flex-direction: column;
		justify-content: stretch;
		align-items: stretch;
		height: auto;
	}

	.navbar-main__logo {
		flex: 1;
		align-self: center;
	}

	.navbar-main__menu {
		flex: 1;
		align-self: center;
	}

	.navbar-main__menu li {
		padding: 0;
	}

	.navbar-main__menu li:nth-child(odd) {
		padding: 0 1em;
	}

	.dropdown-content {
		top: 20px;
	}

	.navbar-main__logo img {
		width: 100%;
		height: auto;
	}
}

@media (max-width: 500px) {
	.navbar-main__menu {
		padding-top: 0;
		flex-direction: column;
	}

	.navbar-main__menu li:nth-child(even) {
		padding: 0.5em 0;
	}
}

/* ===============================================
                MEDIAS
===============================================*/
@media (max-width: 780px) {
	html {
		font-size: 14px;
	}
}

@media (max-width: 500px) {
	html {
		font-size: 13px;
	}
}
